.jumbotron{
    background-color: #0074e1;
    /* background-color: #1b9ce5; */
    color: floralwhite;
}
.footer{
    background-color: #f79e02;
    color: floralwhite;
}
/* .margin-footer{
    margin-top: 30px;
    padding-top: 30px;
} */
a{
    color: black;
}
a:hover{
    text-decoration: none;
    color: floralwhite;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.bg-custom{
     background-color: #0074e1;
     color: floralwhite;
}
.breadcrumb{
    background-color: white;
    color: #f79e02;
}