.jumbotron{
    /* background-color: #0074e1; */
    background-color: #328cc1;
    color: floralwhite;
}
.footer{
    /* background-color: #f79e02; */
    background-color: #1d2731;
    color: floralwhite;
    opacity: 0.9;
}
/* .margin-footer{
    margin-top: 30px;
    padding-top: 30px;
} */

.footer a:hover{
    text-decoration: none;
    color: #0074e1;
}

.footer a{
    color: floralwhite;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.bg-custom{
     /* background-color: #0074e1; */
     background-color: #0b3c5d;
     color: floralwhite;
}
.breadcrumb{
    background-color: white;
}
.breadcrumb-item > a{
    text-decoration: none;
    color: #0074e1;
}
.breadcrumb-item > a:hover{
    text-decoration: none;
    color: #0b3c5d;
}
address > a{
    color: #328cc1;
}
.tablehead{
    background-color: #328cc1;
    color: floralwhite;
}
.logofull{
    height: 180px;
    border-radius: 10px;
}
.btn-warning{
    font-weight: 500;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.carousel {
    background:#AD9C80;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}