.jumbotron{
    /* background-color: #0074e1; */
    background-color: #328cc1;
    color: floralwhite;
}
.footer{
    /* background-color: #f79e02; */
    background-color: #1d2731;
    color: floralwhite;
    opacity: 0.9;
}
/* .margin-footer{
    margin-top: 30px;
    padding-top: 30px;
} */
a{
    color: floralwhite;
}
a:hover{
    text-decoration: none;
    color: #328cc1;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.bg-custom{
     /* background-color: #0074e1; */
     background-color: #0b3c5d;
     color: floralwhite;
}
.breadcrumb{
    background-color: white;
    color: #f79e02;
}